* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace
}

.container {
  padding: 1rem;
}

.section {
  margin-bottom: 3rem;
}

.header .section {
  width: 100%;
}

.header .section#skull {
  max-width: 200px;
  margin-top: 3rem;
}

.inner {
  display: flex;
  flex-wrap: wrap;
}

.inner .section {
  margin-right: 3rem;
  border-top: 1pt solid black;
  border-left: 1pt solid black;
  padding: 0 0.5rem;
}

p.sectionhead {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}

p.sectionsubhead {
  font-size: 1.5rem;
  font-weight: bold;
}

p.sectioncaption {
  font-size: 0.875rem;
  font-style: italic;
  padding-bottom: 1rem;
}

p.copy {
  font-size: 0.66rem;
}

a {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(rgba(0, 0, 0, 0) 67.5%, hsl(0, 100%, 69%) 0%);
}

a:hover {
  background: linear-gradient(rgba(0, 0, 0, 0) 67.5%, hsl(45, 100%, 69%) 0%);  
}



@media (orientation: portrait) {

  .inner .section {
    width: 100%;
    margin-right: 0;
  }

  .header .section#skull {
    max-width: initial;
  }

}
