* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html:before {
  content: "";
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: hsl(0, 0%, 69%);
  z-index: -1;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  color: hsl(0, 0%, 10%);
}

.container {
  padding: 1rem;
}

.inner {
  display: grid;
  grid-template-columns: 8rem repeat(3, max-content);
  grid-gap: 4rem;
}

.section:not(#skull) {
  border-top: 1pt solid black;
  border-left: 1pt solid black;
  padding: 0 0.5rem;
}

.section:not(#skull):hover {
  background: hsl(0, 0%, 84%);
}

p.sectionhead {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 0.5rem;
}

p#copy {
  font-size: 0.75rem;
}

a {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(rgba(0, 0, 0, 0) 67.5%, hsl(0, 100%, 75%) 0%);
}

a:hover {
  background: linear-gradient(rgba(0, 0, 0, 0) 67.5%, hsl(45, 100%, 69%) 0%);  
}



@media (orientation: portrait) {

  .inner {
    grid-template-columns: auto;
    grid-template-rows: repeat(4, max-content);
  }

  .section:hover {
    background: initial;
  }

}