* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  /* color: hsl(0, 0%, 10%); */
  /* background: hsl(0, 0%, 90%); */
}

.container {
  padding: 1rem;
}

.inner {
  display: grid;
  grid-template-columns: 7rem repeat(4, max-content);
  grid-gap: 3rem;
}

.section:not(#skull) {
  border-top: 1pt solid black;
  border-left: 1pt solid black;
  padding: 0 0.5rem;
}

p.sectionhead {
  font-size: 1.75rem;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 0.5rem;
}

p.copy {
  font-size: 0.66rem;
}

a {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(rgba(0, 0, 0, 0) 67.5%, hsl(0, 100%, 69%) 0%);
}

a:hover {
  background: linear-gradient(rgba(0, 0, 0, 0) 67.5%, hsl(45, 100%, 69%) 0%);  
}



@media (orientation: portrait) {

  .inner {
    grid-template-columns: 100%;
    grid-template-rows: max-content;
  }

}
